pipeline/pl_.json
{
	"name": "pl_",
	"properties": {
		"activities": [
			{
				"name": "act_foreach_iterate_range",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_filter_even_values_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.range_array",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "act_set_var",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "test",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "act_filter_even_values",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "act_foreach_iterate_range",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.range_array",
						"type": "Expression"
					},
					"condition": {
						"value": "@item()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_filter_even_values_copy1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.range_array",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(mod(item(),2 ),0)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"range_array": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8,
					910
				]
			}
		},
		"variables": {
			"test": {
				"type": "Integer"
			},
			"element": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "session2"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-10T10:01:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}