pipeline/pl_getmetadata.json
{
	"name": "pl_getmetadata",
	"properties": {
		"activities": [
			{
				"name": "act_getmetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_getmetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "act_foreach_metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_getmetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_getmetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "act_if_cond_check_file",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": " @equals(item()['type'],'file')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "act_set_foreach_element",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "test",
											"value": {
												"value": "@item()['name']",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"test": {
				"type": "Integer"
			},
			"element": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "session1"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-10T10:01:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}